body{
  background-color: rgba(185,225,226,1)
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.head {
  font-family: 'Georgia', serif; 
  font-size: 30px;
  font-weight: 700; 
  color: #333;
  letter-spacing: 5px; 
  word-spacing: 10px;
  margin-top: 30px;
}

.highlight1{
  color: rgb(48, 128, 219);

}

.highlight2{
  color: rgb(48, 128, 219);
}

.container{
  border-style: solid;
  border-radius: 20px;
  padding-top: 10px;
  padding: 20px;
  height: 400px;
  width: 400px;
  margin-top: 10px;
}

.right{
  float: right;
  margin-right: 30px;
  margin-top: 300px;
  cursor: pointer;
  width: 60px;
  height: 45px;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 10px;
  align-content: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255) ;
}

.total_amount_card{
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 80%;
  background-image: linear-gradient(0deg, rgba(185,225,226,1) 0%, rgba(231,230,227,1) 100%);
}

.total_amount{
  padding-top: 20%;
  padding-left: 45%;
  font-size: 50px;
}

.myButtons{
  align-items: center;
  margin-top: 50px;
  margin-left: 10%;

}

.btnOne{
  background-color: black !important;
  height: 60px;
  width: 90px;
  font-size: 30px !important;

}

.btnTwo{
  background-color: black !important;
  width: 90px;
  font-size: 30px !important;
  height: 60px;

}